<head>
	<style type = 'text/css'>
	.instance_name
	{
		margin-left: 25px;
	}
	.instance_info
	{
		margin-left: 75px;
	}
	.port-list{
		list-style-type: none;
	}
	</style>
</head>

<h1>Info</h1>

{% for service in registered.keys() %}
<div class='service_wrapper'>
	<b class='service_name'>{{ service }}</b>
	{% for instance in registered[service].keys() %}
	<div class='service_instance'>
		<div class='instance_name'>{{ registered[service][instance]['instance_name'] }}</div>
		<div class='instance_info'>host: {{ registered[service][instance]['instance_host'] }}</div>
		<div class='instance_info'>
			<ul class='port-list'>
			ports: 
			{% for key in registered[service][instance]['port_mapping'].keys() %}
			<li>{{ key }}: {{ registered[service][instance]['instance_host'] }}:{{ registered[service][instance]['port_mapping'][key]['external'][1][:-4] }}
			</li>
			{% endfor %}
			</ul>
		</div>
		<div class='instance_info'>labels: {{registered[service][instance]['labels'] }}</div>
	</div>
	{% endfor %}
</div>
{% endfor %}

